<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <nav>
    <a  routerLink="/inbox" routerLinkActive="activebutton"> inbox</a>
    <a href="#" routerLink="/sent"  routerLinkActive="activebutton">sent</a>
    <a  href="#" routerLink="/intial" routerLinkActive="activebutton">all</a>
    </nav>
    <a href="#"onclick="show()"id="1">Sent</a>
    <a href="#">Bin</a>
  </div>
  <button class="open" style="font-size:30px;cursor:pointer; border:none; background:white;" (click)="openNav()">&#9776;</button> 
  <router-outlet></router-outlet>
<app-intial></app-intial>
 
  
 
</body>

</html> 
